{% extends 'teacher-base.html' %}
{% block title %}{{object_name}} Confirm delete?{% endblock %}

{% block content %}
    <div id="content-container" class="p-none">
        <div class="side-p">
            <h3>Are you sure?</h3>
            <p>You're about to delete the following activity:</p>
            <ul>
            	<li>Name: {{ object.name }}</li>
            	<li>Type: {{ object.type }}</li>
            	<li>Source: {{ object.source }}</li>
            </ul>

            <div id="impactedScenarios"></div>

            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-link" 
                       type="button" value="Cancel" 
                       onclick="window.history.go(-1);"/>
                <input id="confirm" class="btn btn-danger" type="submit" value="Confirm"/>
            </form>
        </div>
    </div>

	<script>
		var impactedScenarios = '';
		{% for sce in scenarios %}
		sceJson = {{ sce.json | safe }};
		sceJson.activities.forEach(function(act) {
			if (act.id == {{ object.pk }} && impactedScenarios.indexOf('<li>{{ sce.name }}</li>') == -1) {
				impactedScenarios += '<li>{{ sce.name }}</li>';
			}
		});
        {% endfor %}

        if (impactedScenarios == '') {
        	impactedScenarios = '<p>Are you sure?</p>';
        } else {
        	impactedScenarios = '<p>Impossible to delete this activity. It was found in the following scenarios:</p><ul>' + impactedScenarios;
            document.getElementById('confirm').disabled = true;
        }
    	document.getElementById('impactedScenarios').innerHTML = impactedScenarios;
	</script>
{% endblock %}
