{% extends "teacher-base.html" %}
{% load staticfiles %}
    {% block content %}

    <div class="row">
        <div class="col-lg-12">
			{% if activity.id %}
			<h1 class="page-header">Editing {{ activity.type | title }} Activity {{ activity.id }}</h1>
			{% else %}
			<h1 class="page-header">Creating New Activity</h1>
			{% endif %}
        </div>
    </div>

	<form id="activityForm" action="{{ action }}" method="post">{% csrf_token %}
	    {{ form.as_p }}
		<p id="contentField">
	    	<label>Content:</label>
	    	<textarea id="content" cols="40" rows="6"></textarea>
	    </p>
	    <p id="sourceField">
	    	<label>URL:</label>
	    	<input id="source" maxlength="500" type="url">
	    </p>

	    <button class="btn btn-primary" type="button" onclick="saveScenario()">Save</button>
	</form>

    {% endblock %}
    {% block extra-scripts %}

    <script>
    adaptFormToActivity($('#activityForm #id_type').val())
	$('#activityForm #id_type').change(function() {
		adaptFormToActivity($('#activityForm #id_type').val());
	});

	function adaptFormToActivity(type) {
		switch (type) {
			case 'text':
				$('#content').val($('#id_source').val());
				$('#contentField').show();
				$('#sourceField').hide();
				break;
			case 'link':
				$('#source').val($('#id_source').val());
				$('#contentField').hide();
				$('#sourceField').show();
				break;
			default:
				$('#contentField').hide();
				$('#sourceField').hide();
				break;
		}
	}

    // Create or edit activity
	function saveScenario() {
		switch ($('#id_type').val()) {
			case 'text':
				$('#activityForm #id_source').val($('#content').val());
				break;
			case 'link':
				$('#activityForm #id_source').val($('#source').val());
				break;
			default:
				$('#activityForm #id_source').val('');
				break;
		}

	    // Submit form to save changes
		console.log($('#id_source').val());
	    document.getElementById('activityForm').submit();
	}
    </script>
    {% endblock %}
