{% extends "simple-base.html" %}

{% block content %}
    <div class="container">
    {% if not simple and percentage%}
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage }}"
            aria-valuemin="0" aria-valuemax="100" style="width:{{ percentage }}%">
            <span class="sr-only">{{ percentage }}% Complete</span>
        </div>
    </div>
    {% endif %}
    {% block inner-content %}
    {% endblock inner-content %}
    {% block button %}
        {% if not simple %}
            <br><br>
            <button type="button" onclick="window.location.href='/student/activity/next/'" class="btn btn-lg btn-primary">Next activity</button>
        {% endif %}
    {% endblock button %}
    </div>
{% endblock content %}