{% extends "teacher-base.html" %}
{% block content %}

    	<div class="row">

			<h2>Existing activities</h2>

			<a type="button"
					class="btn btn-default mode-btn glyphicon glyphicon-plus" 
					href="{% url 'activity-creator' %}">Add</a>

			<div class="table-responsive">
				<table class="table table-striped">
				<tr>
				<th>Activity name</th><th>Type</th><th>Actions</th>
				</tr>
{% for activity in object_list %} 
				<tr>
				  <td>{{ activity.name }}</td>
				  <td>{{ activity.type }}</td>
				  <td><a href="{% url 'activity' activity.id %}">Preview</a>
                      | <a href="{% url 'activity-editor' activity.id %}">Edit</a>
                      | <form style="display: inline;" action='{% url 'activity-delete' activity.id %}' method='get'>{% csrf_token %}
                          <a href="javascript:;" onclick="parentNode.submit();">Delete</a></form></td>
				</tr>
{% endfor %} 
				</table>

			</div>
		</div>

{% endblock %}
