{% extends "base.html" %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6&appId=1699440396987900";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
    <h2>Course completed</h2>
    <div style="font-size:18px">You scored <b>{{ pretest }}%</b> on the pre-test, and <b>{{ posttest }}%</b> on the post-test. Your score increased by <b>{{ diff }}</b>!
    {% if diff > 0 %}
         Well done!
    {% endif %}
    </div>
    <h3>Please, help us improve education and share the link</h3>
    <div><div class="fb-share-button" data-href="http://classroom.ai/student/" data-layout="button_count" data-mobile-iframe="true"></div></div>
<div style="margin-top: 10px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://classroom.ai/student/" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
{% endblock content %}
