{% extends "teacher-base.html" %}
{% load staticfiles %}
    {% block modals %}
	<!-- Modal -->
	<div class="modal fade" id="activityChoice" tabindex="-1" role="dialog" data-backdrop="static">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
        	<h4 class="modal-title">Activity</h4>
          </div>
	      <div class="modal-body">
	      	<select id="activitySelector" class="form-control">
				<option value="choose" href="#">Choose an activity...</option>
{% for act in activities %}
				<option value="{{act.pk}}" href="#">{{ act.name }}</option>
{% endfor %}
			</select>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="confirmActivityModal" type="button" class="btn btn-primary">Confirm</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="saveError" tabindex="-1" role="dialog" data-backdrop="static">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
        	<h4 class="modal-title">Error: Cannot save scenario</h4>
          </div>
	      <div class="modal-body">
	      	<p id="saveErrorMessage"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div>
    {% endblock %}
    {% block content %}

	<style>
	#graph {
		-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;
	    -moz-user-select: none; -ms-user-select: none; user-select: none;
	}
	#graph.hover { cursor: pointer!important; }
	#inspectContainer { display: inline-block; margin-top: 10px; width: 100%; }
	.contextMenu {
	    position: absolute; width: 70px; z-index: 99999;
	    border: solid 1px #BBB; border-radius: 5px; background: #FFF;
	    padding: 0px; margin: 0px; display: none; }
	.contextMenu LI { list-style: none; padding: 0px; margin: 0px; }
	.contextMenu A {
	    color: #333; text-decoration: none; font-size: 12px;
	    display: block; line-height: 20px; height: 20px;
	    background-position: 6px center; background-repeat: no-repeat;
	    outline: none; padding: 1px 5px; }
	.contextMenu LI.hover A { color: #FFF; background-color: #3399FF; }
	</style>

    <div class="row">
    	<div class="col-lg-12">
    		{% if scenario.id %}
			<h1 class="page-header">Editing Scenario '{{ scenario.name }}'</h1>
			{% else %}
			<h1 class="page-header">Creating New Scenario</h1>
			{% endif %}
		</div>
	</div>

	<button type="button" class="btn btn-primary pull-right" id="SAVE">Save</button>
            <div class="row">
	<form id="scenarioForm" action="{{ action }}" method="post">{% csrf_token %}
	    {{ form.as_p }}
	</form>


	<div id="container" class="col-md-12" style="overflow: scroll; overflow-y: hidden; padding: 0; border:solid 1px #CCC; margin-top:10px; background:#FAFAFA">
		<div id="graph"></div>
	</div>

	<div id="inspectContainer" class="panel panel-info">
		<div class="panel-heading">
			<span id="inspectTitle"> </span>
			<button type="button" class="close"><span>&times;</span></button>
		</div>
		<div class="panel-body"></div>
	</div>

	<ul id="menuContext" class="contextMenu">
	    <li><a name="edit">Edit</a></li>
	    <li><a name="connect">Connect</a></li>
	</ul>


    {% endblock %}
    {% block extra-scripts %}
    <!--<script src="/static/js/snap/dist/snap.svg-min.js"></script>-->
	<!--<script src="http://medialize.github.io/jQuery-contextMenu/src/jquery.contextMenu.js" type="text/javascript"></script>-->
	<!--<script src="{% static 'js/graph.js' %}"></script>-->

	<script src="{% static 'js/raphael.js' %}"></script>
	<script src="{% static 'js/raphael.json.js' %}"></script>
	<script src="{% static 'grapheditor/singletons.js' %}"></script>
	<script src="{% static 'grapheditor/graphEditor.js' %}"></script>
	<script src="{% static 'grapheditor/activity.js' %}"></script>
	<script src="{% static 'grapheditor/connection.js' %}"></script>
	<script src="{% static 'grapheditor/button.js' %}"></script>
	<script src="{% static 'grapheditor/inspectButton.js' %}"></script>
	<script src="{% static 'grapheditor/deleteButton.js' %}"></script>
	<script src="{% static 'grapheditor/graph.js' %}"></script>
	<script src="{% static 'grapheditor/handlers.js' %}"></script>
	<script src="{% static 'grapheditor/builders.js' %}"></script>
	<script src="{% static 'grapheditor/possibleConnection.js' %}"></script>

	<script>
	var dbActivities = {};
	var oldScenario = null;
    $('#inspectContainer').hide();

    //Building a dictionary of activities
    {% for act in activities %}
        dbActivities["{{ act.pk }}"] = {
        	name: "{{ act.name|escapejs }}",
        	type: "{{ act.type|escapejs }}",
        	description: "{{ act.description|escapejs }}",
        	source: "{{ act.source|escapejs }}",
        	avg_time: "{{ act.avg_time_str|escapejs }}"
        };
    {% endfor %}

    {% if scenario.id %}
		oldScenario = JSON.parse("{{ scenario.raphaelJson|escapejs }}");
	{% endif %}
	</script>


    {% endblock %}
