{% extends "teacher-base.html" %}
{% load staticfiles %}
    {% block modals %}
	<!-- Modal -->
	<div class="modal fade" id="activityChoice" tabindex="-1" role="dialog" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"><h4 class="modal-title">Activity</h4></div>
				<div class="modal-body">

					<input id="filterActivityModal" class="form-control" placeholder="Filter activities by name, type or tags">
					<form action="">
					<div id="tableContainer">
						<table id="activityList" class="table table-striped">
							<colgroup>
								<col style="width:10%">
								<col style="width:40%">
								<col style="width:20%">
								<col style="width:30%">
							</colgroup>
							<thead>
							<tr class="listHeader">
								<th></th><th>Activity name</th><th>Type</th><th>Tags</th>
							</tr>
							</thead>
							<tbody>
							{% for activity in activities %}
								<tr>
									<td><input type="radio" name="chosenActivity" value="{{activity.pk}}"></td>
									<td>{{ activity.name }}</td>
									<td>{{ activity.type }}</td>
									<td>{{ activity.tags }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="confirmActivityModal" type="button" class="btn btn-primary">Confirm</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="operatorChoice" tabindex="-1" role="dialog" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"><h4 class="modal-title">Operator</h4></div>
				<div class="modal-body form-horizontal">
					<div class="form-group">
						<label class="col-md-2 control-label">Type</label>
						<div class="col-md-10"><select id="operatorTypeSelector" class="form-control"><option value="choose" href="#">Choose a type...</option></select></div>
					</div>
					<div id="operatorSubtype" class="form-group">
						<label class="col-md-2 control-label">Subtype</label>
						<div class="col-md-10"><select id="operatorSubtypeSelector" class="form-control"><option value="choose" href="#">Choose a subtype...</option></select></div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">Label</label>
						<div class="col-md-10"><select id="operatorLabelSelector" class="form-control"><option value="choose" href="#">Choose a label...</option></select></div>
					</div>
					<div id="operatorSublabel" class="form-group">
						<label class="col-md-2 control-label">Sublabel</label>
						<div class="col-md-10"><select id="operatorSublabelSelector" class="form-control"><option value="choose" href="#">Choose a sublabel...</option></select></div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="cancelOperatorModal" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="confirmOperatorModal" type="button" class="btn btn-primary">Confirm</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="saveError" tabindex="-1" role="dialog" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"><h4 class="modal-title">Saving scenario {{ scenario.name }}</h4></div>
				<div class="modal-body"><p id="saveMessage"></p></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="confirmSaveModal" type="button" class="btn btn-primary">Confirm</button>
				</div>
			</div>
		</div>
	</div>
    {% endblock %}
    {% block content %}

	<style>
	#graph {
		-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;
	    -moz-user-select: none; -ms-user-select: none; user-select: none;
	}
	#graph.hover { cursor: pointer!important; }
	#inspectContainer { display: inline-block; margin-top: 10px; width: 100%; }
	.contextMenu {
	    position: absolute; width: 150px; z-index: 99999;
	    border: solid 1px #BBB; border-radius: 5px; background: #FFF;
	    padding: 0px; margin: 0px; display: none;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
	.contextMenu LI { list-style: none; padding: 0px; margin: 0px; color: #333; }
	.contextMenu A {
	    color: inherit; text-decoration: none; font-size: 12px;
	    display: block; line-height: 20px; height: 20px; margin-left: 10px;
	    background-position: 6px center; background-repeat: no-repeat;
	    outline: none; padding: 1px 5px; }
	.contextMenu LI.hover { cursor: pointer; color: #FFF; background-color: #3399FF; color: #FFF;}
	#tableContainer { width: 100%; height: 200px; overflow: scroll; display: block; }
	#activityList tr { width: 100%; display: table-row; table-layout: fixed; }
	</style>

    <div class="row">
    	<div class="col-lg-12">
    		{% if scenario.id %}
			<h1 class="page-header">Editing Scenario '{{ scenario.name }}'</h1>
			{% else %}
			<h1 class="page-header">Creating New Scenario</h1>
			{% endif %}
		</div>
	</div>

	<button type="button" class="btn btn-primary pull-right" id="saveButton">Save</button>
            <div class="row">
	<form id="scenarioForm" action="{{ action }}" method="post">{% csrf_token %}
	    {{ form.as_p }}
	</form>

	<div id="container" class="col-md-12" style="overflow: scroll; overflow-y: hidden; padding: 0; border:solid 1px #CCC; margin-top:10px; background:#FAFAFA">
		<div id="graph"></div>
	</div>

	<div id="inspectContainer" class="panel panel-info">
		<div class="panel-heading">
			<span id="inspectTitle"> </span>
			<button id="inspectClose" type="button" class="close" onclick="graph.setInspectedObject()"><span>&times;</span></button>
		</div>
		<div class="panel-body"></div>
	</div>


    {% endblock %}
    {% block extra-scripts %}
    <!--<script src="/static/js/snap/dist/snap.svg-min.js"></script>-->
	<!--<script src="http://medialize.github.io/jQuery-contextMenu/src/jquery.contextMenu.js" type="text/javascript"></script>-->
	<!--<script src="{% static 'js/graph.js' %}"></script>-->

	<script src="{% static 'js/raphael.js' %}"></script>
	<script src="{% static 'js/raphael.json.js' %}"></script>
	<script src="{% static 'grapheditor/singletons.js' %}"></script>
	<script src="{% static 'grapheditor/style.js' %}"></script>
	<script src="{% static 'grapheditor/graphEditor.js' %}"></script>
	<script src="{% static 'grapheditor/activity.js' %}"></script>
	<script src="{% static 'grapheditor/connection.js' %}"></script>
	<script src="{% static 'grapheditor/button.js' %}"></script>
	<script src="{% static 'grapheditor/inspectButton.js' %}"></script>
	<script src="{% static 'grapheditor/deleteButton.js' %}"></script>
	<script src="{% static 'grapheditor/graph.js' %}"></script>
	<script src="{% static 'grapheditor/handlers.js' %}"></script>
	<script src="{% static 'grapheditor/builders.js' %}"></script>
	<script src="{% static 'grapheditor/possibleConnection.js' %}"></script>

	<script>
	var dbActivities = {};
	var oldScenario = null;
    $('#inspectContainer').hide();

    //Building a dictionary of activities
    {% for act in activities %}
        dbActivities["{{ act.pk }}"] = {
        	name: "{{ act.name|escapejs }}",
        	type: "{{ act.type|escapejs }}",
        	description: "{{ act.description|escapejs }}",
        	source: "{{ act.source|escapejs }}",
        	avg_time: "{{ act.avg_time_str|escapejs }}"
        };
    {% endfor %}

    {% if scenario.id %}
		oldScenario = JSON.parse("{{ scenario.raphaelJson|escapejs }}");
	{% endif %}
	{% if duplicatedScenario.id %}
		$('#scenarioForm #id_name').val("{{ duplicatedScenario.name|escapejs }} - copy");
		oldScenario = JSON.parse("{{ duplicatedScenario.raphaelJson|escapejs }}");
	{% endif %}

    function isEntryShown(row, search) {
    	// Remove empty words
    	for (var word = search.length; word >= 0; --word) {
    		if (search[word] == "") {
    			search.splice(word, 1);
    		}
    	}
    	// Show if no search
      	if (search.length == 0) {
        	return true;
      	}
      	// Hide if one of the words is not here
    	var res = true;
    	for (var word = 0; word < search.length; ++word) {
	        if ($('#activityList tbody tr:nth-child('+row+')')
	        	.is(":containsIN('" + search[word] + "')")) {
	          	res = res && true;
	        } else {
	        	res = false;
	        }
	    }
    	return res;
    }

    function filterActivityList() {
      //create a jquery object of the rows
      var rows = $("#activityList tbody tr");
      rows.hide();
      //filter the jquery object to get results.
      rows.filter(function (i, v) {
          i = i+1;
          return isEntryShown(i, $("#filterActivityModal").val().split(" "));
      })
      //show the rows that match.
      .show();
    }

	</script>


    {% endblock %}
