{% extends "activity-base.html" %}

{% block inner-content %}

    <h1>{{ title }}</h1>
    <form method="POST" class="post-form" onsubmit="nextbutton.disabled = true">
        {% csrf_token %}
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color:red;"> <b>{{ error }}</b> </p>
            {% endfor %}
            {{ field.label }}
            {{ field }}
        {% endfor %}
        <input name="nextbutton" type="submit" value="Submit" class="btn btn-lg btn-primary"/>
    </form>

{% endblock inner-content %}
{% block button %}
{% endblock button %}