{% extends "teacher-base.html" %}
{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Existing scenarios</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

    	<div class="row" style="padding-bottom: 15px;">


			<a type="button"
					class="btn btn-success mode-btn" 
					href="{% url 'scenario-creator' %}">Create new scenario</a>
		</div>

	<div class="modal fade" id="confirmEdit" tabindex="-1" role="dialog" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"><h4 class="modal-title">Attention !</h4></div>
				<div class="modal-body">This experiment is already running and modification may corrupt the result. We suggest duplicating the scenario and working on an independent copy. Modify this scenario only if you are sure what you are doing.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" onclick="goToEditor()">Confirm</button>
				</div>
			</div>
		</div>
	</div>

    	<div class="row">
			<div class="table-responsive">
				<table class="table table-striped">
				<tr>
				<th>Scenario</th><th>Avg. learning gain</th><th>Avg time</th><th># students</th><th>Actions</th>
				</tr>
{% for scenario in object_list %} 
				<tr>
				  <td>{{ scenario.name }}</td>
				  <td title="Standard deviation: {{ scenario.learning_stdev }} | Variance: {{ scenario.learning_variance }}">{{ scenario.avg_learning }}</td>
				  <td>{{ scenario.avg_time }}</td>
				  <td>{{ scenario.num_students }}</td>
				  <td><a class="btn btn-default" href="{% url 'scenario' scenario.id %}">Preview</a>
                      <a class="btn btn-default" href="{% url 'scenario-stats' scenario.id %}">Stats</a>
                      <a class="btn btn-default" href="{% url 'student-list' scenario.id %}">Students</a>
                      <a class="btn btn-default" href="{% url 'scenario-duplicator' scenario.id %}">Duplicate</a>
                      <!--a class="btn btn-default" href="{% url 'scenario-editor' scenario.id %}">Edit</a-->
                      <a class="btn btn-default" onclick="editModal({{ scenario.id }}, {{ scenario.num_students }})">Edit</a>
                      <form style="display: inline;" action='{% url 'scenario-delete' scenario.id %}' method='get'>{% csrf_token %}
                      	<a class="btn btn-danger" href="javascript:;" onclick="parentNode.submit();">Delete</a></form></td>
				</tr>
{% endfor %} 
				</table>

			</div>
		</div>

<script>
var idToEdit;

function editModal(id, students) {
	idToEdit = id;
	if (students > 0) {
		$('#confirmEdit').modal('show');
	} else {
		goToEditor();
	}
}

function goToEditor() {
	document.location.href = "{% url 'scenario-editor' 0 %}".replace('0', idToEdit);
}
</script>

{% endblock %}
