{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

	  <object id="workspace" data="" style="width: 100%; height: 870px; border: 0px;"></object>

{% endblock %}


	{% block extra-scripts %}
    <script type="text/javascript">
	//We do the initial setup of the task
	var scenario = {{ scenario.json|safe }};
	var scenario_activities = scenario['activities'];
	var edges = scenario[edges];

    var all_activities = {};

    //Building a dictionary of activities
    {% for act in activities %}
        all_activities["{{ act.pk }}"] = ["{{ act.name|safe }}", "{{ act.source|safe }}"];
    {% endfor %}

	$(document).ready(function(){
	       //init();

	       var scenario = scenario_activities;

	       $.each(scenario, function(index, element){
               var activity = all_activities[element['id']];
	            $("#scenario-menu").append('<li><a class="workspace-link" href="' + activity[1] + '">' + activity[0] + '</a></li>');
	       });
	       $(".workspace-link").click(function(event){
	            event.preventDefault();
	            $("#workspace").attr("data", $(this).attr("href"));
               });
	       $("#workspace").attr("data", scenario[0].link);
	});

	//var user_id = {{ user_id }};
    </script>
    {% endblock %}
