{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ scenario.name }}</h1>
    <p>Number of students: {{ scenario.num_students }}</p>
    <p>Average time: {{ scenario.avg_time }}</p>
    <p>Average learning gain: {{ scenario.avg_learning }}</p>
    <ul>
        <li>Standard deviation: {{ scenario.learning_stdev }}</li>
        <li>Variance: {{ scenario.learning_variance }}</li>
    </ul>
    {% for item in data %}
        <h3>Group {{ forloop.counter }}</h3>
        {% for name, value in item %}
            <p>{{ name }}: {{ value }}</p>
        {% endfor %}
    {% endfor %}
    <br>
    <button type="button" onclick="window.location.href='/scenario/csv/' + {{ scenario.pk }}">Download CSV</button>
    <button type="button" onclick="window.location.href='/teacher/scenario/list/'">Back</button>
</div>
{% endblock content %}