{% extends "teacher-base.html" %}
{% block meta-head %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Scenario');
        data.addColumn('number', 'Gain %');

        {% for scenario in object_list %}
            data.addRows([['{{ scenario.name }}', {{ scenario.avg_learning_num }}]]);
        {% endfor %}
      
        // Set chart options
        var options = {'title':'Learning gain',
                       'width':800,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock meta-head %}
{% block content %}

    	<div class="row">

			<h2>Existing scenarios</h2>

			<div class="table-responsive">
				<table class="table table-striped">
				<tr>
				<th>Scenario group</th><th>Scenario</th><th>Avg. learning gain</th><th>Avg time</th><th># students</th><th>Actions</th>
				</tr>
{% for scenario in object_list %} 
				<tr>
				  <td>{{ scenario.group }}</td>
				  <td>{{ scenario.name }}</td>
				  <td title="Standard deviation: {{ scenario.learning_stdev }} | Variance: {{ scenario.learning_variance }}">{{ scenario.avg_learning }}</td>
				  <td>{{ scenario.avg_time }}</td>
				  <td>{{ scenario.num_students }}</td>
				  <td><a href="{% url 'scenario' scenario.id %}">Preview</a>
                      | <a href="{% url 'scenario-stats' scenario.id %}">Stats</a>
                      | <!--a href="/">Edit</a> |-->
                      <form style="display: inline;" action='{% url 'scenario-delete' scenario.id %}' method='post'>{% csrf_token %}
                          <a href="javascript:;" onclick="parentNode.submit();">Delete</a></form></td>
				</tr>
{% endfor %} 
				</table>

			</div>
		</div>
<!--Div that will hold the chart-->
    <div id="chart_div"></div>
{% endblock %}
