{% extends "meta-base.html" %}
{% load staticfiles %}
{% block meta-head %}
{% endblock %}
{% block meta-body %}

    <div class="container-fluid" style="padding-top: 50px;">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" id="scenario-menu">
          </ul>
          <ul class="nav nav-sidebar">
            <!--li><a href="{% url 'teacher-dashboard' %}">Activities</a></li-->
            <li><a href="{% url 'activity-list' %}">Activities</a></li>
            <li><a href="{% url 'scenario-list' %}">Scenarios</a></li>
            <!--li><a href="{% url 'scenario-creator' %}">Graph editor</a></li>-->
          </ul>
          <!--ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="" >
          <!--h1 class="page-header">Dashboard</h1-->
                <div class="container">
{% block content %}
Dashboard
{% endblock %}
	</div>
        </div>
      </div>
    </div>
{% endblock %}
