{% extends "activity.html" %}
{% block content %}
<h1>Test</h1>

<div style="max-width: 800px;">

<div class="question">
Archimedes Principle States that the buoyant force on an object is equal to?

<div class="radio">
<label for="q1-1"><input name="q1" type="radio" value="1" id="q1-1"> The weight of the fluid displaced.</label>
</div><div class="radio">
<label for="q1-2"><input name="q1" type="radio" value="2" id="q1-2"> The mass of the fluid displaced.</label>
</div><div class="radio"><label for="q1-3"><input name="q1" type="radio" value="3" id="q1-3"> None of the above.</label>
</div><div class="radio"><label for="q1-4"><input name="q1" type="radio" value="4" id="q1-4"> The volume of the liquid displaced.</label>
</div>

</div> 

<div class="question">
A hot air balloon works based on Archimedes Principle. If the weight of an entire hot air balloon is 2,227 Newtons then the hot air in the balloon needs to be at least that much lighter than the cool air outside the balloon for it to float. Let's say the balloon is a sphere with a radius of nine meters and the density of air (at standard temperature and pressure) is 1.2754 kg/m3. What should the weight of the air in the balloon be for it to fly upward?
 
<div class="radio">
<label for="q2-1"><input name="q2" type="radio" value="1" id="q2-1"> More than 9,922 Newtons</label>
</div>
<div class="radio">
<label for="q2-2"><input name="q2" type="radio" value="2" id="q2-2"> Less than 9,922 Newtons</label>
</div>
<div class="radio">
<label for="q2-3"><input name="q2" type="radio" value="3" id="q2-3"> 12,149 Newtons</label>
</div>
<div class="radio">
<label for="q2-4"><input name="q2" type="radio" value="4" id="q2-4"> 9,922 Newtons</label>
</div>
<div class="radio">
<label for="q2-5"><input name="q2" type="radio" value="5" id="q2-5"> Less than 9,922 Newtons</label>
</div>

</div> 

<div class="question">
An Ohio class nuclear submarine has a length of about 170 meters and a diameter of about 12 meters. If the shape is approximated to be that of the diagram below what is the buoyant force on the submarine when submerged? The density of water is 1000 kg/m3.
 
<div class="radio">
<label for="q3-1"><input name="q3" type="radio" value="1" id="q3-1"> 1,000,00 Newtons</label>
</div>
<div class="radio">
<label for="q3-2"><input name="q3" type="radio" value="2" id="q3-2"> 123,450,000 Newtons</label>
</div>
<div class="radio">
<label for="q3-3"><input name="q3" type="radio" value="3" id="q3-3"> 183,986,745 Newtons</label>
</div>
<div class="radio">
<label for="q3-4"><input name="q3" type="radio" value="4" id="q3-4"> 0 Newtons</label>
</div>
<div class="radio">
<label for="q3-5"><input name="q3" type="radio" value="5" id="q3-5"> 183,986,745 Newtons</label>
</div>

</div> 




Source: <a href="http://study.com/academy/practice/quiz-worksheet-archimedes-principle.html">http://study.com/academy/practice/quiz-worksheet-archimedes-principle.html</a>

{% endblock %}